
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" value= {{gotEmail}}></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="{{type}}" [(ngModel)]="user.password"></ion-input>

    <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon md="md-eye-off"></ion-icon></button>
    <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon md="md-eye"></ion-icon></button>
  </ion-item>

  <button ion-button block color="secondary" (click)="login(user)">Login</button>
  <button ion-button block clear color="secondary" (click)="register()">Register</button>

</ion-content>